.circle{
    width: 20px;
    height: 20px;
    border: 10px solid #000;
    position: absolute;
    border-radius: 15px;
}
body{
    background-color: lightslategrey;
    display: inline-block;
}
  
  #alignEl{
      text-align: center;
      padding-left: 15px;
  }